@import 'typeface-quicksand';
@import 'typeface-playfair-display';


* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
}

input:-webkit-autofill {
    transition: background-color 100000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

.eventsSvg {
    background-image: url('/images/eventsBg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* ou 'contain' se quiser mostrar tudo */
    background-position: center;
}
.createEventSvg {
    background-image: url('/images/createEventBg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* ou 'contain' se quiser mostrar tudo */
    background-position: center;
}

.informal {
    font-family: 'Quicksand', sans-serif;
  }
  .formal {
    font-family: 'Playfair Display', serif;
  }